<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>


<div class="container-fluid" id="content">
    <th:block th:replace="fragments/navbar"></th:block>
    <h1 class="text-center mt-5 mb-5">All Employers</h1>

    <table class="table table-striped">
        <thead>
        <tr class="row">
            <th class="col-md-2" scope="col">#</th>
            <th class="col-md-3" scope="col">EGN</th>
            <th class="col-md-3" scope="col">First Name</th>
            <th class="col-md-2" scope="col">Edit</th>
            <th class="col-md-2" scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="emp, iter : ${allEmployers}">
            <tr class="row">
                <th class="col-md-2" scope="row" th:text="${
                (allEmployers.getPageable().getPageNumber() + 2 <= 1
                ? 0
                : allEmployers.getPageable().getPageNumber() + 1) * 10 + (iter.index + 1)-10
                }">
                </th>
                <td class="col-md-3" th:text="${emp.getUsername().length() > 35
                ? emp.getUsername().substring(0, 35) + '...'
                : emp.getUsername()}"></td>
                <td class="col-md-3" th:text="${emp.getFirstName().length() > 35
                ? emp.getFirstName().substring(0, 35) + '...'
                : emp.getFirstName()}"></td>

                <td class="col-md-2"><a class="btn btn-secondary" th:href="@{/admin/edit/{egn}(egn=${emp.getUsername()})}">Edit</a></td>
                <td class="col-md-2"><a class="btn btn-danger" th:href="@{/admin/delete/{egn}(egn=${emp.getUsername()})}">Delete</a></td>

            </tr>
        </th:block>
        </tbody>
    </table>
    <nav>
        <!--<div th:with="someVariable=${longer}">-->
        <!--<div th:text="${someVariable}"></div>-->
        <ul class="pagination d-flex justify-content-center">
            <!--Previous Button-->
            <li class="page-item"><a class="page-link" th:if="${allEmployers.hasPrevious()}" th:href="@{/admin/allEmployers(page=${allEmployers.previousPageable().getPageNumber()})}">Previous</a></li>

            <!--Dot Button-->
            <li class="page-item"><a class="page-link" th:if="${allEmployers.getPageable().getPageNumber() + 1 > 5}" th:disabled="true">...</a></li>

            <!--Pagination Navigation-->
            <th:block th:each="number : ${
            #numbers.sequence(
            ((allEmployers.getPageable().getPageNumber()
            / 5) * 5) +1
            ,
            ((allEmployers.getPageable().getPageNumber()
            / 5) * 5) + longer)
            }">
                <li class="page-item" th:classappend="${number == allEmployers.getPageable().getPageNumber() + 1 ? ' active' : ''}"><a class="page-link" th:text="${number}" th:href="@{/admin/allEmployers(page=${number}-1)}"></a></li>
            </th:block>

            <!--Dot Button-->
            <li class="page-item"><a class="page-link" th:if="${allEmployers.getPageable().getPageNumber()  < allEmployers.getTotalPages() - 4}" th:disabled="true">...</a></li>

            <!--Next Button-->
            <li class="page-item"><a class="page-link" th:if="${allEmployers.hasNext()}" th:href="@{/admin/allEmployers(page=${allEmployers.nextPageable().getPageNumber()})}">Next</a></li>
        </ul>
    </nav>

</div>
</body>
</html>