<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head :: head"></th:block>
<body>
<div class="container-fluid" id="content">
    <th:block th:replace="fragments/navbar :: navbar"></th:block>
    <div class="container">
        <!--<img th:src="${image.getUrl()}" class="img-thumbnail" width="200" height="200">-->
        <!--<div th:text="${image.getUrl()}"></div>-->
        <button class="btn btn-secondary" th:onclick="'showImage(\'' + ${image.getId()} + '\');'">Show</button>
        <form th:action="${employerInput.getUsername()}" th:method="POST"
              class="justify-content-center align-items-center" th:object="${employerInput}">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Edit employer</h2>
                    <hr>
                </div>
            </div>
            <div class="row h-100 justify-content-center align-items-center mt-2">
                <div class="col-md-2 field-label-responsive">
                    <label for="username">EGN:</label>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="text" name="username" class="form-control" id="username"
                                   th:value="${employerInput.getUsername()}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row h-100 justify-content-center align-items-center mt-2">
                <div class="col-md-2 field-label-responsive">
                    <label for="password">Password:</label>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="password" name="password" class="form-control" id="password"
                                   th:value="${employerInput.getPassword()}"/>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row h-100 justify-content-center align-items-center mt-2">
                <div class="col-md-2 field-label-responsive">
                    <label for="firstName">Employer First Name:</label>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="text" class="form-control form-control-lg rounded-0" name="firstName"
                                   id="firstName" th:value="${employerInput.getFirstName()}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row h-100 justify-content-center align-items-center mt-2">
                <div class="col-md-2 field-label-responsive">
                    <label for="lastName">Employer Last Name:</label>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="text" class="form-control form-control-lg rounded-0" name="lastName"
                                   id="lastName" th:value="${employerInput.getLastName()}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row h-100 justify-content-center align-items-center mt-2">
                <div class="col-md-2 field-label-responsive">
                    <label for="salary">Salary</label>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="number" class="form-control" id="salary" name="salary"
                                   th:value="${employerInput.getSalary()}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row h-100 justify-content-center align-items-center mt-2">
                <div class="col-md-2 field-label-responsive">
                    <label for="isAdmin">Is Admin?</label>
                </div>
                <div class="col-md-3">
                    <div class="form-group float-left">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                            <input type="checkbox" class="form-control" name="isAdmin" id="isAdmin"
                                   style="width: 30px; height: 30px;" th:checked="${employerInput.getIsAdmin()}">

                        </div>
                    </div>
                </div>
            </div>


            <div class="row h-100 justify-content-center align-items-center mt-2">
                <button type="submit" class="btn btn-success btn-lg float-right" id="btnRegister">
                    Edit
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    function showImage(imageId) {
        $($($('.' + imageId).children()[1]).children()[0]).hide();
        $($($('.' + imageId).children()[1]).children()[1]).show();
        $($('.' + imageId).children()[2]).show();
    }

</script>
</body>
</html>