<th:block th:fragment="navbar">
    <nav class="navbar navbar-toggleable-md full-width-div" style="background-color: #000000;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand nav-link-white" href="/" id="zileanBtn">Zilean</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item disabled">
                    <a class="nav-link nav-link-white" href="/home" id="homeBtn">Home</a>
                </li>
                <!--admin functionality-->
                <li class="nav-item disabled" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link nav-link-white" href="/admin/allEmployers" id="all-employers">All employers</a>
                </li>
                <li class="nav-item disabled" sec:authorize="isAnonymous()">
                    <a class="nav-link nav-link-white" href="login" id="loginBtn">Login</a>
                </li>
                <li class="nav-item disabled" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link nav-link-white" href="/admin/register" id="registerBtn">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item disabled">
                    <a class="nav-link nav-link-white" href="/user/changePassword" id="changePassword">Change Password</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item disabled">
                    <a class="nav-link nav-link-white" href="/user/calendar" id="viewCalendar">Calendar</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item disabled">
                    <form th:action="@{/logout}" th:method="POST">
                        <a class="nav-link nav-link-white" href="/logout" id="logoutBtn">Logout</a>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</th:block>