<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head :: head"></th:block>
<body>
<div class="container-fluid" id="content">
    <th:block th:replace="fragments/navbar :: navbar"></th:block>
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center mt-2">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <h1 class="text-center col-md-11">Join Us!</h1>
                    </div>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <h2 class="text-center">You can apply at this email : <a href="#"><i>mega_job@gmail.com</i></a></h2>
                    </div>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0 justify-content-center align-items-center mt-3">
                        <a href="https://www.google.com/maps/place/%D0%AF%D0%BC%D0%B1%D0%BE%D0%BB/@42.4858434,26.4264242,12z/data=!3m1!4b1!4m5!3m4!1s0x40a6343e0d74253f:0x8884a18fcb27d488!8m2!3d42.4841767!4d26.5035361"
                           class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Find us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>