<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container-fluid" id="content">
    <th:block th:replace="fragments/navbar"></th:block>
    <main>
    </main>
    <form class="form" enctype="multipart/form-data" th:action="@{/images}" method="POST">
        <div class="form-group">
            <input type="file" class="form-control col-md-6" name="file">
            <button class="btn btn-secondary col-md-4">Upload File</button>
        </div>
    </form>
</div>
</body>
</html>